/**
 * description: 配置函数
 * author:      hzfangbo@corp.netease.com;
 */

 @mixin u-btn {
	cursor: default;
	color:$color-white;
	background-color: $color-btn;
	&:hover{color:$color-white;
			background-color:$color-btn-hover;
	}
	&:active{color:$color-white;
			background-color:$color-btn-hover;
	}
}

@mixin u-btn-style  {
	display: inline-block;
	padding:6px 20px;
	font-size: 12px;
	line-height: 16px;
	border-radius:3px;
	letter-spacing:0.1em;
}


/**
 * description: 按钮样式
 * author:      hzfangbo@corp.netease.com;
 */

.u-btn{
	@include u-btn-style;
	@include u-btn;
}

.u-btn-disabled{
	background-color: $color-btn-dis;
	&:hover{
		background-color: $color-btn-dis;
	}
	&:active{
		background-color: $color-btn-dis;
	}
}

.u-btn-lg{
	padding: 8px 25px;
}

.u-btn-sm{
	padding: 4px 15px;
}

.u-btn-cancel{
	color:$color-light;
	background-color: $color-gray;
	&:hover{
		background-color: $color-grayer;
	}
	&:active{
		background-color: $color-grayer;
	}
}

.u-btn-delete{
	background-color: $color-red;
	&:hover{
		background-color: $color-reder;
	}
	&:active{
		background-color: $color-reder;
	}
}
.u-btn-delete-disabled{
	background-color: $color-red-dis;
	&:hover{
		background-color: $color-red-dis;
	}
	&:active{
		background-color: $color-red-dis;
	}
}

