/**
 * =====================================================
 * description: 列表表格基础模块
 * list:
 * =====================================================
 */
.m-table{table-layout:fixed;width:100%;}
.m-table th{padding: 14px 10px;}
.m-table th,.m-table td{padding: 14px 10px; padding-right: 0;}
.m-table tr{border:1px solid transparent;}
.m-table thead{background-color: #eef;}
.m-table th{font-weight:bold;font-size: 14px;}
.m-table td{font-size: 12px;}
.m-table caption {padding: 10px; border-bottom: 0; border-radius: 3px 3px 0 0;}
.m-table tbody tr:hover{background-color:$bgColor-light;}
.m-table td{
    @include ellipsis;
    .cssicon{margin-right:8px;}
}
.m-table thead td{
    font-weight:bold;
}