<html>
  <head>
    <title>vue test</title>
  </head>
  <body>
  <div id="app">
      <div :style="{color:'#900','font-size':font}">5、绑定style</div>
    {{message}}
    <input v-model.lazy="message"/>
    <div v-if="isLogin" v-bind:title="message">islogin</div>
    <div v-if="isLogin" v-text="msg">islogin</div>
    <div v-if="isLogin" v-jspang="red" v-html="msg">islogin</div>
    <p v-else>not login</p>
    <p v-show="isLogin" ref="note" :title="message">islogin</p>
    <ul>
      <li v-for="item in list">
        <a>{{item.name}}</a>
      </li>
    </ul>
    <ul>
        <li v-for="item in sortList">
          <a>{{item.name}}</a>
        </li>
      </ul>
      <div>{{note}}</div>
      <button v-on:click="method1">啊啊啊啊啊啊</button>
      <button @click="method1">sssssss</button>
      <author></author>
      <button onclick="app.$destroy()">销毁</button>
      <panda from-here="China"></panda>
  </div>
    <script src="res/js/vue.js"></script>
    <script>
      var app=new Vue({
        el:'#app',
        data:{
          message:'hello vue',
          msg:'<b>bbbbbbbbbbbb</b>',
          isLogin:1,
          list:[{name:'aaa',id:1},{name:'bbb',id:2}],
          note:"",
          font:44,
          red:"#900",//指令里的值必须在这里定义
          $refs:1111111//这里不能写VUE保留单词
        },
        computed:{
          sortList:function(){console.log(this);
            //下面代码中的this是实例属性，但不存在data
            return this.list.sort(function(a,b){
                return b.id-a.id;
            });
          }//如果VIEW上没有用到sortList，则修改此排序函数不会对list发生作用
        },
        methods:{
          method1:function(){
            this.note=this.msg+this.message;
          }
        },
        components:{
                "panda":{
                    template:`<div style="color:red;">Panda from {{ fromHere }}.</div>`,
                    props:['fromHere']
                }
            },
        beforeCreate:function(){
                console.log('1-beforeCreate 初始化之后');
            },
            created:function(){
                console.log('2-created 创建完成');
            },
            beforeMount:function(){
                console.log('3-beforeMount 挂载之前');
            },
            mounted:function(){
                console.log('4-mounted 被创建');
            },
            beforeUpdate:function(){
                console.log('5-beforeUpdate 数据更新前');
            },
            updated:function(){
                console.log('6-updated 被更新后');
            },
            activated:function(){
                console.log('7-activated');
            },
            deactivated:function(){
                console.log('8-deactivated');
            },
            beforeDestroy:function(){
                console.log('9-beforeDestroy 销毁之前');
            },
            destroyed:function(){
                console.log('10-destroyed 销毁之后')
            }
      });
     Vue.directive("jspang",function(el,binding,vnode){
        el.style='color:'+binding.value;
     });
     var authorExtend = Vue.extend({
           template:"<p><a :href='authorUrl'>{{authorName}}</a></p>",
           data:function(){
               return{
                   authorName:'JSPang',
                   authorUrl:'http://www.jspang.com'
               }
           }
       });
       new authorExtend().$mount('author');
       //new authorExtend().$mount('#author');//挂载到ID为author的元素上
    </script>
    <pre>
      基础指令：
      {{}}
      v-show
      v-if
      v-else
      v-for
      v-model[.lazy|.number|.trim]
      v-bind
      v-on
      v-pre
      v-cloak
      v-once
    </pre>
    <pre>
        全局API：
      </pre>
  </body>
</html>