body{
  background-color: #ddd;
  color:#009;
}
p{
  background-color: #ddd;
  color:#009;
}
a{
  background-color: #ddd;
  color:#009;
}
b{
  background-color: #ddd;
  color:#009;
}
div{
  background-color: #ddd;
  color:#009;
}
h1{
  background-color: #ddd;
  color:#009;
}
h2{
  background-color: #ddd;
  color:#009;
}
h3{
  background-color: #ddd;
  color:#009;
}
h4{
  background-color: #ddd;
  color:#009;
}
h5{
  background-color: #ddd;
  color:#009;
}
h6{
  background-color: #ddd;
  color:#009;
}