 @import './base/_index';
 @import './unit/_unit';
 @import './unit/_crumbs';
 @import './unit/_btn';
 @import './common/_table';
 @import './common/_form';
@import './common/_cssicons';
html, body, .g-module { height: 100%; }
#app{height:100%;}
.g-body { display: flex; flex-direction: column; height: 100%;
    .g-head{height:50px;background:$bgColor-dark;color:$color-white;}
    .g-main{
       display: flex; flex-direction: row;height:100%;
     }
    .g-nav { background:$bgColor-dark;color:$color-white; width: 120px; border-right: $solid;  overflow: auto; }

    .g-cont { flex: 1; padding: 10px; overflow: auto; }

}
.m-logo{
    .logo{
        padding: 0;
        background: #eee;
        width: 35px;
        height: 20px;
        overflow: hidden;
        border-radius: 50% 50%;
        border: solid 5px #fff;
        &:after{
            content:"CHX";display:inline-block;font-size: 28px;margin:-7px 0 0 -4px;font-family:fantasy;
        }
        margin:10px 0 0 10px;
    }
}

.m-title{
    min-height: 30px;
    h1{font-size:20px;}
}

.m-nav {


    li { height: 30px; line-height: 30px;padding: 0 10px;

        a { display: block; padding-left: 20px; color: $color-light;}

        a:hover { color: $color-white;  }
    }
    li:hover{background: $bgColor-darker;}
}

.m-tab { background: #ddd;
    a { display: block; background: #ddd; color: #111; float: left; width: 100px; height: 40px; line-height: 40px; text-align: center; }
    a.z-crt { background: #666; color: #fff; }
    @include clearfix; }
.m-list {
    li { line-height: 40px; display: flex; flex-direction: row;
        a { flex: 4; display: block;
            &:hover { background: #789; color: #fff; }
        }
        .time { flex: 1; padding-right: 10px; text-align: right; }
    }
}

